body {
  margin: 0;
}

td {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} 

.layout {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  /* overflow: hidden; */
  display: flex;
}
